@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --color-dark-grey: hsl(0, 0%, 12%);
    --color-off-black: hsl(0, 0%, 8%);
    --color-green:hsl(75, 94%, 57%);
    --color-gray: hsl(0, 0%, 20%);
    --color-white: hsl(0, 0%, 100%);

    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.general-wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--color-off-black);
    color: var(--color-white);
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .9rem;
    background-color: var(--color-dark-grey);
    padding: 2.5rem;
    border-radius: 1rem;
    
}

img{
    border-radius: 50%;
    width: 6rem;
}

header{
    text-align: center;
}

h1,h3,p{
    font-weight: 400;
}

h3{
    color: var(--color-green);
}

p{
    opacity: .8;
}

button{
    width: 110%;
    padding: .8rem;
    background-color: var(--color-gray);
    border: none;
    border-radius: .2rem;
    color: var(--color-white);
    opacity: .9;
}

button:hover{
    background-color: var(--color-green);
    color: var(--color-dark-grey);
    transition: all .9s ease;
    cursor: pointer;
}
